{% extends "web/base.html" %}
{% load i18n %}
{% block title %}
  {% trans "App List" %}
{% endblock title %}
{% block content %}
  <div class="container">
    <div class="row my-4">
      <div class="col-12 col-md-6 offset-md-3">
        <h2 class="text-center">{% trans "App List" %}</h2>
        <p class="text-center">{% trans "Number of apps:" %} {{ apps.count }}</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <a href="{% url 'app_upload' %}"
             class="btn btn-primary btn-lg"
             aria-label="{% trans "Upload New App" %}">{% trans "Upload New App" %}</a>
        </div>
        <ul class="list-group mt-4" role="list">
          {% for app in apps %}
            <li class="list-group-item" role="listitem">
              <a href="{% url 'app_detail' app.pk %}" aria-label="{{ app.name }}">{{ app.name }}</a>
            </li>
          {% endfor %}
        </ul>
        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
          <a href="{% url 'app_upload' %}"
             class="btn btn-primary btn-lg mt-4"
             aria-label="{% trans "Upload App" %}">{% trans "Upload App" %}</a>
          <a href="{% url 'index' %}"
             class="btn btn-secondary btn-lg mt-4"
             aria-label="{% trans "Home" %}">{% trans "Home" %}</a>
          <a href="{% url 'logout' %}"
             class="btn btn-danger btn-lg mt-4"
             aria-label="{% trans "Logout" %}">{% trans "Logout" %}</a>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
