{% extends "web/base.html" %}
{% block title %}
  Login
{% endblock title %}
{% block content %}
  <div class="container my-5">
    <div class="row justify-content-center">
      <div class="col-md-5">
        <div class="card">
          <h5 class="card-header bg-primary text-white">Login</h5>
          <div class="card-body">
            <form method="post">
              {% csrf_token %}
              {{ form.as_p }}
              <button type="submit" class="btn btn-primary">Login</button>
            </form>
          </div>
          <div class="card-footer bg-light">
            <a href="{% url 'signup' %}" class="btn btn-secondary">Sign Up</a>
            <a href="{% url 'index' %}" class="btn btn-primary">Home</a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
