{% extends "web/base.html" %}
{% load i18n %}
{% block title %}
    {% trans "Profile" %}
{% endblock title %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card"
                     role="region"
                     aria-label="{% trans "Profile Information" %}">
                    <h5 class="card-header bg-primary text-white">{% trans "Profile" %}</h5>
                    <div class="card-body">
                        <p>{% trans "Username:" %} {{ profile.user.username }}</p>
                        <p>{% trans "Email:" %} {{ profile.user.email }}</p>
                        <p>{% trans "Bio:" %} {{ profile.bio }}</p>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-center">
                            <a href="{% url 'profile_edit' %}"
                               class="btn btn-primary"
                               role="button"
                               aria-label="{% trans "Edit Profile" %}">{% trans "Edit Profile" %}</a>
                            <a href="{% url 'index' %}"
                               class="btn btn-secondary"
                               role="link"
                               aria-label="{% trans "Home" %}">{% trans "Home" %}</a>
                            <a href="{% url 'logout' %}"
                               class="btn btn-danger"
                               role="link"
                               aria-label="{% trans "Logout" %}">{% trans "Logout" %}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
